<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>99860848283-as3pk5l805oe7uullhlp74gvhbb8vldr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99860848283-as3pk5l805oe7uullhlp74gvhbb8vldr</string>
	<key>API_KEY</key>
	<string>AIzaSyDy7B1Pe9OpBzAfK05nRaHoQZw7ZGTWzzs</string>
	<key>GCM_SENDER_ID</key>
	<string>99860848283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HackTheNorth.NeighborCater</string>
	<key>PROJECT_ID</key>
	<string>neighborcater</string>
	<key>STORAGE_BUCKET</key>
	<string>neighborcater.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:99860848283:ios:ba877553deafd0b7</string>
	<key>DATABASE_URL</key>
	<string>https://neighborcater.firebaseio.com</string>
</dict>
</plist>