<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackthenorth.neighborcater">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".LauncherActivity" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MapActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ChoosingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".KitchenActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CreateLoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CreateUserActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MyTabActivity" android:screenOrientation="portrait"/>
        <activity android:name=".OrdersActivity" android:screenOrientation="portrait"/>




    </application>

</manifest>